# Pré-processamento de dados do Dataset 
Aplicando técnicas de pré-processamento ao dataset "enhanced student habits performance" disponível em https://www.kaggle.com/datasets/aryan208/student-habits-and-academic-performance-dataset/data

Importando bibliotecas e lendo o dataset

In [22]:
import pandas as pd
import numpy as np
import os
from sklearn.decomposition import PCA

df=pd.read_csv("/home/rafy/IA/tpia/enhanced_student_habits_performance_dataset.csv")
df.head(8)

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
0,100000,26,Male,Computer Science,7.645367,3.0,0.1,Yes,70.3,6.2,...,10.9,Co-Learning Group,Yes,High,9,7,8,Reading,3.0,100
1,100001,28,Male,Arts,5.700000,0.5,0.4,No,88.4,7.2,...,8.3,Co-Learning Group,Yes,Low,7,2,10,Reading,6.0,99
2,100002,17,Male,Arts,2.400000,4.2,0.7,No,82.1,9.2,...,8.0,Library,Yes,High,3,9,6,Kinesthetic,7.6,98
3,100003,27,Other,Psychology,3.400000,4.6,2.3,Yes,79.3,4.2,...,11.7,Co-Learning Group,Yes,Low,5,3,10,Reading,3.2,100
4,100004,25,Female,Business,4.700000,0.8,2.7,Yes,62.9,6.5,...,9.4,Quiet Room,Yes,Medium,9,1,10,Reading,7.1,98
5,100005,17,Female,Engineering,4.200000,0.5,2.5,No,49.2,9.2,...,8.9,Quiet Room,No,High,1,10,5,Visual,3.9,94
6,100006,19,Male,Psychology,4.100000,2.4,2.2,Yes,97.9,8.5,...,9.2,Dorm,Yes,High,5,7,8,Kinesthetic,10.0,97
7,100007,17,Male,Psychology,4.100000,3.2,0.9,No,44.3,7.4,...,10.0,Co-Learning Group,Yes,Low,9,3,10,Kinesthetic,7.5,84

Verificando se existem colunas com valores faltantes

In [23]:
valores_faltantes=df.isnull().sum()

valores_faltantes=valores_faltantes[valores_faltantes>0]
if valores_faltantes.empty:
    print("Não foram encontrados valores faltantes.")
else:
    print("Colunas com valores faltantes:\n",valores_faltantes)

Não foram encontrados valores faltantes.

Amostragem de dados

In [24]:
# Aleatória com 20% dos dados
df_sample = df.sample(frac=0.2, random_state=42)
df_sample

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
47044,147044,25,Other,Engineering,2.600000,4.8,2.5,Yes,43.3,7.9,...,11.1,Library,No,High,6,3,10,Kinesthetic,5.6,100
44295,144295,26,Female,Arts,3.200000,2.1,0.8,No,52.9,6.9,...,6.7,Co-Learning Group,Yes,Medium,8,5,10,Visual,2.3,79
74783,174783,22,Male,Psychology,4.500000,2.3,2.2,No,42.0,8.2,...,9.1,Cafe,No,High,2,3,10,Kinesthetic,9.3,66
70975,170975,22,Female,Computer Science,7.650183,1.2,2.0,No,87.4,8.4,...,11.2,Cafe,Yes,High,9,2,10,Visual,2.9,89
46645,146645,23,Male,Biology,3.900000,4.5,1.8,No,53.4,5.3,...,11.4,Quiet Room,Yes,High,10,1,10,Kinesthetic,3.0,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67666,167666,22,Other,Biology,2.600000,3.8,3.9,No,77.5,6.4,...,12.2,Cafe,Yes,Medium,6,6,9,Visual,6.5,92
51146,151146,18,Male,Biology,4.600000,4.0,2.2,Yes,61.3,9.6,...,12.7,Cafe,No,High,4,8,7,Kinesthetic,8.9,78
42494,142494,26,Other,Arts,5.900000,3.3,2.9,No,85.8,7.6,...,13.2,Co-Learning Group,No,High,1,5,10,Reading,6.7,78
52517,152517,16,Female,Biology,3.900000,1.9,3.3,No,62.3,8.2,...,10.8,Library,Yes,High,8,10,5,Auditory,9.6,87
7754,107754,24,Male,Biology,3.700000,2.9,3.2,No,88.0,7.3,...,10.0,Cafe,Yes,High,3,7,8,Visual,4.5,91

Verificando os tipos de dados de cada coluna

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     80000 non-null  int64
 1   age                            80000 non-null  int64
 2   gender                         80000 non-null  object
 3   major                          80000 non-null  object
 4   study_hours_per_day            80000 non-null  float64
 5   social_media_hours             80000 non-null  float64
 6   netflix_hours                  80000 non-null  float64
 7   part_time_job                  80000 non-null  object
 8   attendance_percentage          80000 non-null  float64
 9   sleep_hours                    80000 non-null  float64
 10  diet_quality                   80000 non-null  object
 11  exercise_frequency             80000 non-null  int64
 12  parental_education_level       80000 non-null  object
 13  internet_quality               80000 non-null  object
 14  mental_health_rating           80000 non-null  float64
 15  extracurricular_participation  80000 non-null  object
 16  previous_gpa                   80000 non-null  float64
 17  semester                       80000 non-null  int64
 18  stress_level                   80000 non-null  float64
 19  dropout_risk                   80000 non-null  object
 20  social_activity                80000 non-null  int64
 21  screen_time                    80000 non-null  float64
 22  study_environment              80000 non-null  object
 23  access_to_tutoring             80000 non-null  object
 24  family_income_range            80000 non-null  object
 25  parental_support_level         80000 non-null  int64
 26  motivation_level               80000 non-null  int64
 27  exam_anxiety_score             80000 non-null  int64
 28  learning_style                 80000 non-null  object
 29  time_management_score          80000 non-null  float64
 30  exam_score                     80000 non-null  int64
dtypes: float64(10), int64(9), object(12)
memory usage: 18.9+ MB

In [26]:

#Para a retirada de atributos, é só acrescentar os atributos os nomes dos atributos em aspas simples, como o 'student_id'
df_sem_atributos = df.drop(columns=['student_id', 'social_media_hours', 'netflix_hours'])
df_sem_atributos.head(8)

,age,gender,major,study_hours_per_day,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
0,26,Male,Computer Science,7.645367,Yes,70.3,6.2,Poor,3,Some College,...,10.9,Co-Learning Group,Yes,High,9,7,8,Reading,3.0,100
1,28,Male,Arts,5.700000,No,88.4,7.2,Good,4,PhD,...,8.3,Co-Learning Group,Yes,Low,7,2,10,Reading,6.0,99
2,17,Male,Arts,2.400000,No,82.1,9.2,Good,4,High School,...,8.0,Library,Yes,High,3,9,6,Kinesthetic,7.6,98
3,27,Other,Psychology,3.400000,Yes,79.3,4.2,Fair,3,Master,...,11.7,Co-Learning Group,Yes,Low,5,3,10,Reading,3.2,100
4,25,Female,Business,4.700000,Yes,62.9,6.5,Good,6,PhD,...,9.4,Quiet Room,Yes,Medium,9,1,10,Reading,7.1,98
5,17,Female,Engineering,4.200000,No,49.2,9.2,Good,3,PhD,...,8.9,Quiet Room,No,High,1,10,5,Visual,3.9,94
6,19,Male,Psychology,4.100000,Yes,97.9,8.5,Good,6,Some College,...,9.2,Dorm,Yes,High,5,7,8,Kinesthetic,10.0,97
7,17,Male,Psychology,4.100000,No,44.3,7.4,Fair,5,Master,...,10.0,Co-Learning Group,Yes,Low,9,3,10,Kinesthetic,7.5,84

In [36]:
#Mesclando os dados de estresse e ansiedade, fazendo uma média e colocando em uma nova coluna 'stress_exam_combined'
df["stress_exam_combined"] = (df["stress_level"] + df["exam_anxiety_score"]) / 2

#Retirando os atributos 'stress_level' e 'exam_anxiety_score' para deixar apenas a nova coluna 'stress_exam_combined'
df_sem_atributos = df.drop(columns=['stress_level', 'exam_anxiety_score'])
print(df[[ "stress_level", "exam_anxiety_score", "stress_exam_combined"]].head())
df_sem_atributos.head(8)

   stress_level  exam_anxiety_score  stress_exam_combined
0           5.8                   8                  6.90
1           5.8                  10                  7.90
2           8.0                   6                  7.00
3           4.6                  10                  7.30
4           5.7                  10                  7.85

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,learning_style,time_management_score,exam_score,stress_exam_combined
0,100000,26,Male,Computer Science,7.645367,3.0,0.1,Yes,70.3,6.2,...,10.9,Co-Learning Group,Yes,High,9,7,Reading,3.0,100,6.90
1,100001,28,Male,Arts,5.700000,0.5,0.4,No,88.4,7.2,...,8.3,Co-Learning Group,Yes,Low,7,2,Reading,6.0,99,7.90
2,100002,17,Male,Arts,2.400000,4.2,0.7,No,82.1,9.2,...,8.0,Library,Yes,High,3,9,Kinesthetic,7.6,98,7.00
3,100003,27,Other,Psychology,3.400000,4.6,2.3,Yes,79.3,4.2,...,11.7,Co-Learning Group,Yes,Low,5,3,Reading,3.2,100,7.30
4,100004,25,Female,Business,4.700000,0.8,2.7,Yes,62.9,6.5,...,9.4,Quiet Room,Yes,Medium,9,1,Reading,7.1,98,7.85
5,100005,17,Female,Engineering,4.200000,0.5,2.5,No,49.2,9.2,...,8.9,Quiet Room,No,High,1,10,Visual,3.9,94,3.25
6,100006,19,Male,Psychology,4.100000,2.4,2.2,Yes,97.9,8.5,...,9.2,Dorm,Yes,High,5,7,Kinesthetic,10.0,97,5.25
7,100007,17,Male,Psychology,4.100000,3.2,0.9,No,44.3,7.4,...,10.0,Co-Learning Group,Yes,Low,9,3,Kinesthetic,7.5,84,7.65